@import "../../mixins.scss";

.detailsBannerSkeleton {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
  @include md {
    gap: 50px;
    flex-direction: row;
  }
  .contentWrapper {
    display: flex;
    gap: 50px;
  }
  .left {
    flex-shrink: 0;
    width: 100%;
    display: block;
    border-radius: 12px;
    aspect-ratio: 1/1.5;
    @include md {
      max-width: 350px;
    }
  }
  .right {
    width: 100%;
    .row {
      width: 100%;
      height: 25px;
      margin-bottom: 20px;
      border-radius: 50px;
      &:nth-child(2) {
        width: 75%;
        margin-bottom: 50px;
      }
      &:nth-child(5) {
        width: 50%;
        margin-bottom: 50px;
      }
    }
  }
}

.castSkeleton {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 20px;
  @include md {
    margin: 0;
    padding: 0;
  }
  .skItem {
    .circle {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      margin-bottom: 15px;
      @include md {
        width: 175px;
        height: 175px;
        margin-bottom: 25px;
      }
    }
    .row {
      width: 100%;
      height: 20px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .row2 {
      width: 75%;
      height: 20px;
      border-radius: 10px;
      margin: 0 auto;
    }
  }
}

.videoSkeleton {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 20px;
  @include md {
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  .skItem {
    width: 150px;
    flex-shrink: 0;
    @include md {
      width: 25%;
    }
    .thumb {
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 12px;
      margin-bottom: 10px;
    }
    .row {
      height: 20px;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .row2 {
      height: 20px;
      width: 75%;
      border-radius: 10px;
    }
  }
}

.loadingSkeleton {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0 20px;
  @include md {
    gap: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .skeletonItem {
    width: 125px;
    @include md {
      width: calc(25% - 15px);
    }
    @include lg {
      width: calc(20% - 16px);
    }
    flex-shrink: 0;
    .posterBlock {
      border-radius: 12px;
      width: 100%;
      aspect-ratio: 1 / 1.5;
      margin-bottom: 30px;
    }
    .textBlock {
      display: flex;
      flex-direction: column;
      .title {
        width: 100%;
        height: 20px;
        margin-bottom: 10px;
      }
      .date {
        width: 75%;
        height: 20px;
      }
    }
  }
}
